.ContainerBox {
    position:relative;
    width: 45%;
    height: 10%;
    top: 40px;
    border-radius: 25px;
    background-color: #696470;
    padding-bottom: 16px;
}
#Ongoing {
    left: 3%;
    float: left;
}
#Completed {
    right: 3%;
    float: right;
}

.ProjectBox {
    position:relative;
    left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 4px;
}
.CS {
    background-color: #321f6b;
}
.TimBox {
    background-color: #385045;
}
.Personal {
    background-color: #3d3015;
}
.Date {
    color: #999999;
    font-weight: bold;
}
.Link {
    font-weight: bold;
}
.SkillsBox {
    position:relative;
    left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 4px;
    background-color: #5a4317;
}