body {
    text-align: center;
    background-color: #272430;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

#Header {
    position: sticky;
    margin: auto;
    width: 100%;
    height: 100px;
    top: 0px;
    background-color: black;
}
.HeadImg {
    position:absolute;
    top: 0px;
    left: 0px;
}
#HeadLink {
    position:relative;
    top: 25%;
    right: 10%;
    width: 25%;
    height: 50%;
    float: right;
    border-radius: 10px;
    background-color: #141414;
}

a{
    color: #3a8fde;
    text-decoration: none;
}
a:hover {
    color: #3a60de;
}
a:active {
    color: white;
}

ul, ol {
    list-style-position: inside;
}

.table-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}
table {
    text-align: center;
}
th, td {
    padding-left: 10px;
    padding-right: 10px;
}

#CodeBox {
    margin: auto;
    background-color: #696470;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 0.25em 2em 0.25em 2em;
}