#AchieveCP {
    margin: auto;
}
#Achievements {
    width: 37%;
    float: left;
    margin-left: 8%;
    margin-right: 5%
}
#RightSide {
    width: 37%;
    float: right;
    margin-left: 5%;
    margin-right: 8%;
}
#Teams {
    padding-top: 32px;
}

#Note{
    font-style: italic;
}

.ListBox {
    margin: auto;
    background-color: #343040;
    width: fit-content;
    height: fit-content;
    padding: 0.25em 2em 0.25em 2em;
    text-align: left;
    border-radius: 5%;
}
#ResultList p{
    font-weight: bolder;
}
#PointList li.Best {
    color: #33a805;
}
#PointList li.Worst {
    color: #c40404;
}
#TeamList {
    text-align: center;
}