.ContainerBox {
    width: 45%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    background-color: #696470;
    padding-bottom: 16px;
}
#Ongoing {
    margin-left: 3%;
    float: left;
}
#Completed {
    margin-right: 3%;
    float: right;
}

#Information {
    clear:both;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 25px;
    background-color: #696470;
    padding-top: 16px;
    padding-bottom: 16px;
}

.ProjectBox {
    position:relative;
    left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 4px;
}
.CS {
    background-color: #5b1e85;
}
.TimBox {
    background-color: #295a25;
}
.Personal {
    background-color: #c96600;
}
.Date {
    color: #ffffff;
    font-weight: bold;
}
.Link {
    width: 200px;
    height: 40px;
    color: white;
    font-weight: bolder;
    background-color: #00000030;
    border-style: none;
    border-radius: 25px;
    margin-bottom: 20px;
}
.Link:hover {
  background-color: #00000066;
  cursor: pointer;
}

.SkillsBox {
    position:relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 12px;
    border-radius: 25px;
    padding: 4px 16px;
    background-color: #00000030;
}

.DetailedSkillsBox{
    position:relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 4px;
    background-color: #00000025;
}